body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
}
/* Header  */
header {
    margin:0;
    padding: 10px 25px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    background-color: #1F2937;
    color:white;
}

header h1 {
    margin:0;
    padding:0;
}

header a {
    text-decoration: none;
    color:white;
}

header ul {
    margin:0;
    padding:0;
    list-style-type: none;
    display:flex;
    gap: 10px;
}

/* Hero Section */
.hero-ctn {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    gap: 10px;
}

.hero-img-ctn {
    flex:1;
}

.hero-img-ctn img {
    width: 300px;
}

.hero-text {
    color: #F9FAF8;
    width: 400px;
    flex:1;
}

.hero-text h1 {
    margin:0;
    padding:0;
    font-size: 48px;
    
}